
.placeholder1{
    display: grid;
    grid-template-columns: 1fr 400px;
}
.container1 {
    padding: 10px;
   
    display: grid   ;
    grid-template-columns: 1fr  1fr;
    row-gap: 20px ;
   
    column-gap: 20px ;
    text-align: center;
}
.foramteur {
    width: 100%;
    display: flex ;
    justify-content: center;
}
.header1 {
    
    font-size: 16px;
}
.fatherbutton{
   
    width: 100%;
}
.adding {
    font-size: 20px;
    width: 100%;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 10px;
}
#headercherfproject , #headerapprenant ,#headercherfproject,#tayeb,#responsable , .plus{
    font-size: 40px;
}
.adding:hover {
    background-color: white;
    color: black;

}
.item {
    
    display: grid;
    grid-template-rows: auto 1fr;
}
.plus {
    cursor: pointer;
}
.persone1 {
    border: 1px solid black;

}
.perssones {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
      
}
#droit {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 20px;
    border-radius: 1px solid black;
    cursor: pointer;
}
img  {
    width: 45px ;
    height: 50px;
    border-radius: 50%;
}
#img1 {
    align-self: center;
}
#delet {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-bottom: 10px;
}
.datapersone {
    width: 100%;
    display: grid;
    grid-template-columns: 20%  80% ;
}
.personne2  > * {
    margin: 0;
    padding: 0 ;
}
.foramteur{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
   
}
.element-container { 
    display: grid;
    grid-template-rows:  1fr auto;
}
.cardformateur {
    width: 100%;
  
    display: flex;
    flex-direction: column;
}

.personnedata{
    border-radius:2px solid black;
    border-radius: 8px;
}
